version: '3.8'

networks:
  vekrest-network:
    driver: bridge

services:
  mongodb:
    image: mongo:latest
    hostname: mongodb
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      - "TZ=America/Sao_Paulo"
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - vekrest-network

  opensearch:
    image: opensearchproject/opensearch:2.4.0
    hostname: opensearch
    container_name: opensearch
    restart: unless-stopped
    ports:
      - "9200:9200"
      - "9600:9600"
    environment:
      - TZ=America/Sao_Paulo
      - discovery.type=single-node
      - plugins.security.disabled=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    depends_on:
      mongodb:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9200" ]
      interval: 10s
      timeout: 10s
      retries: 10
    networks:
      - vekrest-network

  graylog:
    image: graylog/graylog:5.1.5
    hostname: graylog
    container_name: graylog
    restart: on-failure
    ports:
      - "9000:9000"
      - "12201:12201/udp"
    environment:
      TZ: America/Sao_Paulo
      GRAYLOG_ROOT_TIMEZONE: America/Sao_Paulo
      GRAYLOG_PASSWORD_SECRET: "f62c92ac283e4f1f969ad5e71d4c7b2e11e9bdbf5e193ae7bb4e9b4e1e956e437c98a43cd624c5ea8a2c97b9463f96e8"
      GRAYLOG_ROOT_PASSWORD_SHA2: "8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918"
      GRAYLOG_HTTP_BIND_ADDRESS: "0.0.0.0:9000"
      GRAYLOG_HTTP_EXTERNAL_URI: "http://localhost:9000/"
      GRAYLOG_MONGODB_URI: "mongodb://mongodb:27017/graylog"
      GRAYLOG_ELASTICSEARCH_HOSTS: "http://opensearch:9200"
    depends_on:
      mongodb:
        condition: service_healthy
      opensearch:
        condition: service_healthy
    networks:
      - vekrest-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    hostname: zookeeper
    container_name: zookeeper
    restart: unless-stopped
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "2181"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - vekrest-network

  kafka1:
    image: confluentinc/cp-kafka:7.5.0
    hostname: kafka1
    container_name: kafka1
    restart: on-failure
    ports:
      - "9092:9092"
      - "19092:19092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://kafka1:19092,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka1:19092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2
      KAFKA_AUTO_LEADER_REBALANCE_ENABLE: "true"
      KAFKA_LEADER_IMBALANCE_CHECK_INTERVAL_SECONDS: 300
    depends_on:
      zookeeper:
        condition: service_healthy
    healthcheck:
        test: ["CMD", "nc", "-z", "localhost", "9092"]
        interval: 10s
        timeout: 5s
        retries: 5
    networks:
      - vekrest-network

  kafka2:
    image: confluentinc/cp-kafka:7.5.0
    hostname: kafka2
    container_name: kafka2
    restart: on-failure
    ports:
      - "9093:9093"
      - "19093:19093"
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://kafka2:19093,PLAINTEXT_HOST://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka2:19093,PLAINTEXT_HOST://localhost:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2
      KAFKA_AUTO_LEADER_REBALANCE_ENABLE: "true"
      KAFKA_LEADER_IMBALANCE_CHECK_INTERVAL_SECONDS: 300
    depends_on:
      zookeeper:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "nc", "-z", "localhost", "9093" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - vekrest-network

  kafka3:
    image: confluentinc/cp-kafka:7.5.0
    hostname: kafka3
    container_name: kafka3
    restart: on-failure
    ports:
      - "9094:9094"
      - "19094:19094"
    environment:
      KAFKA_BROKER_ID: 3
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://kafka3:19094,PLAINTEXT_HOST://0.0.0.0:9094
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka3:19094,PLAINTEXT_HOST://localhost:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2
      KAFKA_AUTO_LEADER_REBALANCE_ENABLE: "true"
      KAFKA_LEADER_IMBALANCE_CHECK_INTERVAL_SECONDS: 300
    depends_on:
      zookeeper:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "nc", "-z", "localhost", "9094" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - vekrest-network

#  vekproducer:
#    image: vekrest/vekproducer:latest
#    hostname: vekproducer
#    container_name: vekproducer
#    ports:
#      - "8084:8084"
#    environment:
#      SERVER_PORT: 8084
#      KAFKA_BROKERS: kafka:9092, kafka:9093, kafka:9094
#      GRAYLOG_HOST: graylog
#      GRAYLOG_PORT: 12201
#    depends_on:
#      mongodb:
#        condition: service_healthy
#      opensearch:
#        condition: service_healthy
#      graylog:
#        condition: service_started
#      zookeeper:
#        condition: service_healthy
#      kafka1:
#        condition: service_healthy
#      kafka2:
#        condition: service_healthy
#      kafka3:
#        condition: service_healthy
#    networks:
#      - vekrest-network

#  vekconsumer:
#    image: vekrest/vekconsumer:latest
#    hostname: vekconsumer
#    container_name: vekconsumer
#    environment:
#      KAFKA_BROKERS: kafka:9092, kafka:9093, kafka:9094
#      GRAYLOG_HOST: graylog
#      GRAYLOG_PORT: 12201
#    depends_on:
#      mongodb:
#        condition: service_healthy
#      opensearch:
#        condition: service_healthy
#      graylog:
#        condition: service_started
#      zookeeper:
#        condition: service_healthy
#      kafka1:
#        condition: service_healthy
#      kafka2:
#        condition: service_healthy
#      kafka3:
#        condition: service_healthy
#    networks:
#      - vekrest-network

#  vekconsumerapi:
#    image: vekrest/vekconsumerapi:latest
#    hostname: vekconsumerapi
#    container_name: vekconsumerapi
#    ports:
#      - "8085:8085"
#    environment:
#      SERVER_PORT: 8085
#      KAFKA_BROKERS: kafka:9092, kafka:9093, kafka:9094
#      GRAYLOG_HOST: graylog
#      GRAYLOG_PORT: 12201
#    depends_on:
#      mongodb:
#        condition: service_healthy
#      opensearch:
#        condition: service_healthy
#      graylog:
#        condition: service_started
#      zookeeper:
#        condition: service_healthy
#      kafka1:
#        condition: service_healthy
#      kafka2:
#        condition: service_healthy
#      kafka3:
#        condition: service_healthy
#    networks:
#      - vekrest-network